= simple_form_for [:admin,@subscriber] do |f|
  - if @subscriber.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subscriber.errors.count, "error")} prohibited this subscriber from being saved:"
      %ul
        - @subscriber.errors.full_messages.each do |msg|
          %li= msg

  = f.input :confirmed
  = f.input :name
  = f.input :email
  = f.submit 'Save',:class=>'btn btn-primary'
