<!DOCTYPE html>
<html>
<head>
    <title><%= t :name, :scope => :helpdesk %></title>
  <%= stylesheet_link_tag    "helpdesk/admin", :media => "all" %>
  <%= javascript_include_tag "helpdesk/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand"><%= t :name, :scope => :helpdesk %></a>
        <ul class="nav pull-right">
          <li><%= link_to 'Back to site', main_app.root_url %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="well">
          <ul class="nav nav-list">
            <li>
              <%= link_to 'Dashboard', admin_root_url %>
            </li>
            <li>
              <%= link_to 'New Ticket', new_admin_ticket_url %>
            </li>
            <li>
            <%= link_to "My Tickets (#{@my_tickets.count})", admin_tickets_url %>
            </li>
            <li>
            <%= link_to "Unassiged Tickets (#{Helpdesk::Ticket.unassigned.count})", admin_tickets_url(:tickets => 'unassigned') %>
            </li>
          </ul>
        </div>
      </div>
      <div class="span9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
