<!DOCTYPE html>
<html>
<head>
    <title><%= t :name, :scope => :helpdesk %></title>
  <%= stylesheet_link_tag    "helpdesk/application", :media => "all" %>
  <%= javascript_include_tag "helpdesk/application" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="red">
  <h1><%= t :name, :scope => :helpdesk %></h1> 
  <ul>
    <li><%= link_to 'Back to site', main_app.root_url %></li>
    <li><%= helpdesk_user.email %></li>
    <li><%= link_to (t :new_ticket, :scope => :helpdesk), new_ticket_url %></li>
    <li><%= link_to (t :my_tickets, :scope => :helpdesk), tickets_url %></li>
    <% if helpdesk_admin? %>
      <li><%= link_to 'Admin', admin_root_url %></li>
    <% end %>
    </ul>
  <%= yield %>
</body>
</html>
