<!DOCTYPE html>
<html>
<head>
  <title>Helpdesk</title>
  <%= stylesheet_link_tag    "helpdesk/application", :media => "all" %>
  <%= javascript_include_tag "helpdesk/application" %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="red">
<h1>HelpDesk</h1> 
<ul>
    <%= debug current_user %>
    <li><%= link_to 'Your Site', main_app.root_url %></li>
</ul>
<%= yield %>

</body>
</html>
