%h1
  -if params[:tickets] && params[:tickets] == 'closed'
    = t('helpdesk.tickets.closed')

  -else
    = t('helpdesk.tickets.active')


= render 'menu'


- if @tickets.size == 0
  = t('helpdesk.tickets.you_have_no_tickets')
- @tickets.each do |ticket|
  = render 'ticket', ticket: ticket, show_button:true