= simple_form_for [:admin,@faq],:html => {:novalidate => true} do |f|
  - if @faq.errors.any?
    #error_explanation
      %h2= "#{pluralize(@faq.errors.count, "error")} prohibited this faq from being saved:"
      %ul
        - @faq.errors.full_messages.each do |msg|
          %li= msg
  = f.input :active

 

  - I18n.available_locales.each do |locale|
    %h1
      = locale
      = f.globalize_fields_for locale do |g|
        = g.input :title
        = g.input :text, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Full'} } 


  = f.submit 'Save', :class=>'btn btn-primary'
