= render 'menu'

- content_for :title do
  -if params[:faqs] && params[:faqs] == 'active'
    = t('helpdesk.faqs.active')
  -elsif params[:faqs] && params[:faqs] == 'inactive'
    = t('helpdesk.faqs.inactive')
  -else
    = t('helpdesk.faqs.all')





%ol
  = render partial:'/helpdesk/admin/faqs/faq', locals:{ faqs:@faqs }


