= render 'menu'

%ol.breadcrumb
  = t('helpdesk.faqs.sorting')
  = menu_li 'FAQ Root',sorting_admin_faq_url(:all)
  - if @faq
    - @faq.ancestors.reverse_each do |faq|
      = menu_li faq.title, sorting_admin_faq_url(faq)
    = menu_li @faq.title, sorting_admin_faq_url(@faq)


%ul.unstyled#faqs
  - @faqs.each do |faq|
    %li.row{id:"faqs_#{faq.id}",style:'padding:5px 0px;'}
      %div.handle.span2{style:'cursor:move'}
        %span
          = ico('move')
        %span
          = faq.title
        - if faq.children.present?
          = link_to t('helpdesk.sort_this_childs'), sorting_admin_faq_url(faq), class: 'btn btn-info btn-xs'

- content_for :scripts do
  :javascript
    $(document).ready(function(){
      $('#faqs').sortable({
      axis: 'y',
      dropOnEmpty: false,
      handle: '.handle',
      cursor: 'crosshair',
      items: 'li',
      opacity: 0.4,
      scroll: true,
      update: function(){
      $.ajax({
      type: 'post',
      data: $('#faqs').sortable('serialize'),
      dataType: 'script',
      complete: function(request){
        $('#faqs').effect('highlight');
      },
      url: '#{sort_admin_faqs_path}'
        })
      }
      });
    });
