<%= simple_form_for([:admin, @ticket], :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :requester_id, :collection => User.all %>
  <%= f.input :subject %>
  <%= f.input :status, :collection => %w{new open pending solved} %>
  <%= f.input :assignee_id, :collection => User.where('helpdesk_admin = ?', true) %>
  <%= f.input :issue_type, :collection => Helpdesk.issue_types %>
  <% if @ticket.new_record? %>
    <%= f.input :description %>
  <% else %>
    <%= @ticket.description %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
