%table.table.table-bordered
  %tbody
    %tr{:class=>ticket.ticket_type.tr_class}
      %td{colspan:2}
        %h4
          ="##{ticket.subject}"
    %tr
      %td{style:'width:100px'}
        = I18n::l(ticket.created_at, :format=>:short)
        - if ticket.requester
          = ticket.requester.send Helpdesk.display_user_uniq_info.to_sym
      %td{rowspan:2}
        = status_label humanize_with_i18n(ticket.status,'helpdesk.tickets.statuses'), Helpdesk::Ticket::STATUS_CLASS_BY_KEY[ticket.status.to_sym]

        = ticket.ticket_type.title
        = auto_link(simple_format(ticket.description), :html => { :target => "_blank" })
    %tr
      %td
        - if ticket.assignee
          = t('helpdesk.tickets.assignee_to')
          = ticket.assignee.send Helpdesk.display_user_uniq_info.to_sym
        - else
          = t('helpdesk.tickets.not_assigned')
          = link_to ico('star') + t('helpdesk.tickets.assign_me'), assign_admin_ticket_path(ticket),class: 'btn btn-mini btn-info'
    %tr
      %td
        %span.btn.disabled
          = ico('comment')
          = ticket.comments.size
      %td
        %ul.comments.unstyled
          - ticket.comments.each do |comment|
            - if comment.persisted?
              %li.comment{:id=>"comment#{comment.id}"}
                %div.comment-left
                  - if comment.public
                    = status_label ico('envelope') + t('helpdesk.comments.send') ,'label-success'
                  - else
                    = status_label t('helpdesk.comments.note'),''
                  %br
                  %a{class:'anchor', href: "#comment#{comment.id}"}
                    = "#"
                %div.comment-header
                  -if comment.author == ticket.requester
                    = status_label ico('user')+ t('helpdesk.comments.author'),'label-info'
                  = comment.author.send Helpdesk.display_user_uniq_info.to_sym if comment.author
                  %small
                    = time_ago_in_words(comment.created_at)
                    temu
                %div.comment-body
                  = auto_link(simple_format(comment.comment), :html => { :target => "_blank" })

    %tr{:class=>ticket.ticket_type.tr_class}
      %td{colspan:2}
        - if show_button
          = link_to 'Show', admin_ticket_url(ticket), class: 'btn btn-block'
        -elsif edit_button
          = link_to 'Edit', edit_admin_ticket_url(ticket), class: 'btn btn-primary'

