= render 'menu'
- content_for :title do
  = t('helpdesk.ticket')
  = "##{@ticket.subject}"
= render 'form'
%h2
  = t('helpdesk.comments.title')

%ul.comments.unstyled
  - @ticket.comments.each do |comment|
    - if comment.persisted?
      %li.comment{:id=>"comment#{comment.id}"}
        %div.comment-left
          - if comment.public
            = status_label ico('envelope') + t('helpdesk.comments.send') ,'label-success'
          - else
            = status_label t('helpdesk.comments.note'),''
          %br
          %a{class:'anchor', href: "#comment#{comment.id}"}
            = "#"
        %div.comment-header
          -if comment.author == @ticket.requester
            = status_label ico('user')+ t('helpdesk.comments.author'),'label-info'

          = comment.author.send Helpdesk.display_user.to_sym if comment.author
          %small
            = time_ago_in_words(comment.created_at)
            temu
        %div.comment-body
          = simple_format comment.comment
