%h1
  = t('helpdesk.ticket')
  = "##{@ticket.id}"
= render 'form'
%h2
  = t('helpdesk.comments')
- @ticket.comments.each do |comment|
  - if comment.persisted?
    = comment.comment
    %br
    %small
      = comment.created_at
      = t('helpdesk.by') 
      = comment.author.name
    %hr
