- content_for :title do
  = t('helpdesk.mailer.comment_by_helpdesk_notification.title', user: @comment.ticket.requester.send(Helpdesk.display_user.to_sym))
  = @comment.ticket.subject

%p
  = t('helpdesk.mailer.comment_by_helpdesk_notification.comment_content')
  %br
  = simple_format(@comment.comment)
%br
%p
  = t('helpdesk.mailer.ticket_url_title')
  %a{:href=>ticket_url(:locale=>I18n.locale, :id=>@comment.ticket, :anchor=>"comment#{@comment.id}") }<>
    = ticket_url(:locale=>I18n.locale, :id=>@comment.ticket)
