!!!
%html
  %body
    %div
      %h1
        ="#{@comment.ticket.requester.send Helpdesk.display_user.to_sym}, pojawiła się nowa odpowiedź do zgłoszenia: #{@comment.ticket.subject}"
      %div
        %p
          Treść odpowiedzi:
          %br
          = simple_format(@comment.comment)
        %br
        %p
          Pod tym adresem, będąc zalogowanym, możesz odpowiedzieć oraz zobaczyć historie zgłoszenia:
          %a{:href=>ticket_url(:locale=>I18n.locale, :id=>@comment.ticket, :anchor=>"comment#{@comment.id}")}<>
            = ticket_url(:locale=>I18n.locale, :id=>@comment.ticket,:anchor=>"comment#{@comment.id}")
      %p
        Życzymy miłego dnia!
        %br
          = Helpdesk.site_name
        %br
          %a{:href=>Helpdesk.site_address}
            = Helpdesk.site_address
      %div
        Ta wiadomość została wygenrowana automatycznie. Nie odpowiadaj na nią. Jeśli nie zainicjowałeś akcji wysyłania tej wiadomości zgłoś to nam
        %a{:href=>root_url}
          klikając tutaj.






