!!!
%html
  %body
    %div
      %h1
        Wysłano odpowiedź do zgłoszenia
      %div
        %p
          Odpowiedź dotyczy zgłoszenia
          = @comment.ticket.subject
        %p
          Treść odpowiedzi:
          %br
          = simple_format(@comment.comment)
        %br
        %br
        %p
          Pod tym adresem można śledzić zgłoszenie:
          %a{:href=>ticket_url(:locale=>I18n.locale, :id=>@comment.ticket)}<>
            = ticket_url(:locale=>I18n.locale, :id=>@comment.ticket)
          %br
          
        %p
          = Helpdesk.site_name
          %br
            %a{:href=>Helpdesk.site_address}
              = Helpdesk.site_address
        %div
          Ta wiadomość została wygenrowana automatycznie. Nie odpowiadaj na nią. Jeśli nie zainicjowałeś akcji wysyłania tej wiadomości zgłoś to nam
          %a{:href=>root_url}
            klikając tutaj.
  