!!!
%html
  %body
    %div
      %h1
        Pojawiło się nowe zgłoszenie:
        = @ticket.ticket_type.title
      %div.content
        %p
          Treść wysłana:
          %br
          = simple_format(@ticket.description)
        %br
        %br
        %p
          Zgłaszający:
          %br
          = @ticket.requester.name
          = @ticket.requester.email
        %br
        %br
        %p
          Pod tym adresem możesz zobaczyć to zgłoszenie:
          %a{:href=>admin_ticket_url(:locale=>I18n.locale, :id=>@ticket)}<>
            = admin_ticket_url(:locale=>I18n.locale, :id=>@ticket)
      %p
        Życzymy miłego dnia!
        %br
          = Helpdesk.site_name
        %br
          %a{:href=>Helpdesk.site_address}
            = Helpdesk.site_address
      %div
        Ta wiadomość została wygenrowana automatycznie. Nie odpowiadaj na nią. Jeśli nie zainicjowałeś akcji wysyłania tej wiadomości zgłoś to nam
        %a{:href=>root_url}
          klikając tutaj.

    




