- content_for :title do
  = t('helpdesk.mailer.ticket_created_confirmation.title', user: @ticket.requester.send(Helpdesk.display_user.to_sym) )
%p
  = t('helpdesk.mailer.ticket_created_confirmation.subject')
  = @ticket.subject
%p
  = t('helpdesk.mailer.ticket_created_confirmation.ticket_content')
  %br
  = simple_format(@ticket.description)
%br
%p
  = t('helpdesk.mailer.ticket_url_title')
  %a{:href=>ticket_url(:locale=>I18n.locale, :id=>@ticket)}<>
    = ticket_url(:locale=>I18n.locale, :id=>@ticket)
  %br
  = t('helpdesk.mailer.ticket_created_confirmation.info_time')
