<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @faq.title %>
</p>

<p>
  <b>Text:</b>
  <%= @faq.text %>
</p>

<p>
  <b>Position:</b>
  <%= @faq.position %>
</p>

<p>
  <b>Active:</b>
  <%= @faq.active %>
</p>


<%= link_to 'Edit', edit_faq_path(@faq) %> |
<%= link_to 'Back', faqs_path %>
